<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/index-stylesheet.css">

    </head>

    <body class="">
        <div class="navbar">
            <div class="container">
                <div class="navbar-header responsive-logo">
                    <button class="navbar-toggle collapsed" type="button" data-toggle="collapse"
                        data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a href="index.html" class="navbar-brand"><i class="fa fa-rocket text-primary"></i>Video4Kids</a>
                </div>
                <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
                    <ul class="nav navbar-nav navbar-right responsive-nav main-nav-list">
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li class=""></li>
                        <li><a href="#login">Login</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="">
            <div class="container pull-left" style="width: 10%; overflow: hidden;">
                <div class="list-group pull-left" style="width: 100%; overflow: hidden; height: 50%;"><a href="#"
                        class="list-group-item disabled">Tools</a>
                    <!--default html file upload button-->
                    <!--our custom file upload button-->
                    <input type="file" id="actual-btn" hidden/>
                    <label class="btn btn-success tool"for="actual-btn">Add</label>
                    <!-- name of file chosen -->
                    <span id="file-chosen" class="form-control" placeholder="Clip Name" style="float:left;">Clip Name</span>
                    <button class="btn btn-success tool">Cut</button>
                    <button class="btn btn-success tool">Merge</button>
                </div>
            </div>
            <div class="col-sm-4" >
                <button class="btn btn-primary" v-on:click="uploadVideoFile" style="position:absolute; margin-top:87px; left:0px;">
                    Upload
                </button>
            </div>
        </div>
        
        <div id="app">
            <h2 align="center">Video Editor Online</h2>
            <div class="container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-6">
                        <div align="center" class="row">
                            <b>Video Render Preview</b><br>
                            <div style="width: 100%;max-width: 100%;">
                                <video id="render" controls></video>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="fileinput">Add Video Clip:</label>
                                <input type="file" id="fileinput" accept="video/*"> 
                                <div class="col-sm-4" style="padding-left: 0"> <br>
                                    <input type="text" class="form-control" placeholder="Clip Name" 
                                    id="clipname">
                                </div>
                                    
                            </div>
                            <br>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" v-on:click="uploadVideoFile">
                                    Upload
                                </button>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding: 50px;">
                            <div class="progress">

                            <div id="uploadprogress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                            aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                
                            </div>
                            </div> 
                        </div>
                
                        <div class="row videodiv" v-for="(video,index) in videos" :key="index">
                            <h3><u>[[video.name]]</u> </h3>
                            <button v-on:click="setRenderVideo(index)" class="btn btn-success">Render/Preview</button>
                            <button v-on:click="removeVideo(index)" class="btn btn-danger">Remove</button>
                            <button class="btn btn-default" v-on:click="reloadOriginalVideo(index)">
                                Reload Original Video
                            </button>
                            <div align="center">
                                
                                <h4>Video Effects</h4>
                                <b>Trim</b>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label for="start">Start:</label>
                                        <input min="0" max="120" type="number" :id="`trim_start`+index" 
                                        value="0">
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="end">End:</label>
                                        <input min="0" max="120" type="number" :id="`trim_end`+index" 
                                        value="0">
                                    </div>
                                    <div class="col-sm-3">
                                        <button class="btn btn-warning" v-on:click="editVideoSubmit(index,'trim')">Trim</button>
                                    </div>		
                                </div>
                            </div>
                        </div>
                        <br> <br>
                        <div v-if="videos.length > 0" class="col-sm-3">
                            <button class="btn btn-success" v-on:click="finalrender">Merge Clips</button>
                        </div>	
                    </div>
                </div>
            </div>
        </div>

        <!-- Loader Modal -->
        <div id="loaderModal" class="modal fade" role="dialog"  data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
        <div align="center" >
            <div class="loader"></div> <br>
            <b>Rendering... Please wait</b>
        </div>
        </div>

        <div class="center-block container"></div>
        <div class="container-fluid"></div>
        <!-- JS -->
        <script src="../js/jquery.js"></script>
        <script src="../js/bootstrap.js"></script>
        <script src="../js/index.js"></script>

    </body>
</html>